@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
header{

background-color: white;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px 200px;

}
header a img {
    height: 70px;width:100px; display: block;
            margin-left: auto;
            margin-right: auto;
}
.logo{
    text-decoration: none;
    color: #0f256e;
    text-transform: uppercase;
    /*font-weight: 700;*/
   /* font-size: 1.8em;*/

}
.navigation a{
    color: #0f256e;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;

}
.navigation a:hover{
    color: #61c888;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(https://assets.toptal.io/images?url=https%3A%2F%2Fbs-uploads.toptal.io%2Fblackfish-uploads%2Fcomponents%2Fservice_centric_page%2Fhero_section%2F5991328%2Fbackground_image%2Foptimized%2F55-Web-f22b4a82d6c56c314539f21ed4654f5e.svg)no-repeat;
    background-size: 500 px;
    background-position:  right;
    background-attachment: fixed;
    background-color: #0f256e;

    
}
.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    color: #61c888;
    font-size: 2em;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;

}
.main h3{
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.typelun:last-of-type {
    animation: type 0.60s infinite;
 }
 @keyframes type{
    to { opacity: .0; }
 }
.main-btn{
    color: white;
    background-color: #61c888;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;



}
.main-btn:hover{
    background-color: #193a9f;
    transform: scale(1.1);
}
.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 3px;
    margin-left: 7px;

}

.title{
    display: flex;
    justify-content: center;
    color: #0f256e;
    font-weight: 800;
    font-size: 2em;
    margin-bottom: 30px;

}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;



}
.card:hover{

    transform: scale(1.1);

}
.icon {
width: 100px;  
height: 100px;  
display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 4em;
  color: #0f256e;
  
}
.card .info{
    text-align: justify;
    
}
.card-contact .info{
    text-align: center;
    
}
.info h3{
    color: #0f256e;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    text-align: center;
}

.projects{
    background-color:#0f256e ;
}
.projects h2 {
    color: white;
}

.projects .content{
    margin-top: 30px ;

}
.project-card{
    background-color:white ;
    border: 4px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    


}
.project-card:hover{
    transform: scale(1.1);
    


}
.project-image img{
    width: 100%;
    opacity: 0.9;
    
}
.project-image img:hover{
    opacity: 1;
}
.project-info{
    padding: 1em;
}
.project-info span{
    color: #0f256e;
}
.project-category{
    font-size: 0.8em;
    color: #0f256e;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: #0f256e;

}
.more-details:hover{
    color: #61c888;
}
.footer{
    background-color: #0f256e;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    
        align-items: center;
}
.footer-title{
    font-size: 1em;
    font-weight: 600;

}
.footer-title span{
    color: #61c888;
}
@media(max-width:1023px){
    .main{
        background-position: 20% 80%;
        align-items:normal;
 }
 .social-icons{
    margin-left:0px;
}
header{
    padding: 12px 20px;
}
header a img {
    height: 60px;width:90px; display: block;
            margin-left: auto;
            margin-right: auto;
}
.navigation a{
    padding-left: 10px;
}
.title{
    font-size: 1.8em;

}
section{
    padding: 80px 20px;

}
.main-content h2{
    font-size: 1em;
}
.main-content h3{
    font-size: 1.6em;

}
.content{
    flex-direction: column;
    align-items: center;
}
.footer{
    align-items: center;}

}
@media(max-width:641px){
body{
    font-size: 12px;
}
.main{
    background-position: 20% 90%;
    
align-items:normal;
    

}
.social-icons{
    margin-left:0px;
}
.main h2 span{
    font-size: 1.5em;

}
.footer{
align-items: center;}

header a img {
    height: 30px;width:50px; display: block;
            margin-left: auto;
            margin-right: auto;
}

.main-content h2{
    font-size: 0.8em;
}
.main-content h3{
    font-size: 1.4em;
}    
}
@media(max-width:300px){
    body{
        font-size: 10px;

    }
    .main{
        background-position: 20% 80%;
        
    }
    .footer{
        align-items: center;}
}
.contact .fa-brands.fa-linkedin {
    position: fixed;
    right: 0;
    font-size: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    color:white;
    background-color:#61c888;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    bottom: 14%;
    opacity: 0.7;
    transition: 0.7s ease;

}
.contact .fa-brands.fa-github {
    position: fixed;
    right: 0;
    font-size: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    color:white;
    background-color:#61c888;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    bottom: 22%;
    opacity: 0.7;
    transition: 0.7s ease;
    
}
.contact .fa-brands.fa-github:hover{

    transform: scale(1.1);

}
.contact .fa-brands.fa-linkedin:hover{

    transform: scale(1.1);

}
.bilanguage::after {
    content: attr(data-en);
  }

 #changelang{
    color:#61c888;
 }
 #changelang:hover{
    color:#0f256e;
}
